@font-face {
  font-family: "my-font";
  src: url(../fonts/PatrickHandSC-Regular.ttf);
}

body {
  color: #f66;
  background-color: #000;
  font-size: 20px;
  font-family: "my-font";
}


p {
  text-align: justify;
}

figure {
  border: 5px dotted #fff;
  border-radius: 100px;
  text-align: center;
  padding: 50px;
  margin: 100px;
}

img {
  max-width: 100%;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

audio, video {
  width: 100%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px solid #999;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
