div.people {
  margin: 19px 0 19px 0;
  padding: 19px 19px 28px 19px;
}

#song-minho {
  background-color: #e6f2ff;
  color: #4da6ff;
}

#kim-jisoo {
  background-color: #ffe6e6;
  color: #990000;
}

#christian-pulisic {
  background-color: #f9ffe6;
  color: #99cc00;
}

#nguyen-vu {
  background-color: #fae6ff;
  color: #8f00b3;
}

#song-minho figure {
  border: 5px dotted #4da6ff;
}

#kim-jisoo figure {
  border: 5px dotted #990000;
}

#christian-pulisic figure {
  border: 5px dotted #99cc00;
}

#nguyen-vu figure {
  border: 5px dotted #8f00b3;
}
