div.people {
  margin: 19px 0 19px 0;
  padding: 19px 19px 28px 19px;
}

#song-minho {
  background-color: #e6f7ff;
  color: #0077b3;
}

#kim-jisoo {
  background-color: #ffe6e6;
  color: #990000;
}

#christian-pulisic {
  background-color: #f9ffe6;
  color: #99cc00;
}

#nguyen-vu {
  background-color: #fae6ff;
  color: #8f00b3;
}
