.people {
  overflow: auto;
  margin: 19px 0 19px 0;
  padding: 19px 19px 28px 19px;
}

.name {
  width: 30%;
  float: left;
  padding-right: 9px;
}

.biography {
  width: 70%;
  float: left;
  padding-left: 9px;
}

.my-flexbox-container {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: space-between;
}

/* h2 nua nka mn */
.name h1 {
  font-size: 12px;
}

@media screen and (min-width: 576px){
  .name h1 {
    font-size: 19px;
  }
}

@media screen and (min-width: 768px){
  .name h1 {
    font-size: 28px;
  }
}

@media screen and (min-width: 992px){
  .name h1 {
    font-size: 34px;
  }
}

@media screen and (min-width: 1200px){
  .name h1 {
    font-size: 44px;
  }
}

#song-minho {
  background-color: #e6f2ff;
  color: #4da6ff;
}

#kim-jisoo {
  background-color: #ffe6e6;
  color: #990000;
}

#christian-pulisic {
  background-color: #f9ffe6;
  color: #99cc00;
}

#nguyen-vu {
  background-color: #fae6ff;
  color: #8f00b3;
}

#song-minho figure {
  border: 5px dotted #4da6ff;
}

#kim-jisoo figure {
  border: 5px dotted #990000;
}

#christian-pulisic figure {
  border: 5px dotted #99cc00;
}

#nguyen-vu figure {
  border: 5px dotted #8f00b3;
}

#song-minho img {
  content: url("../images/mino1.jpg")
}

#kim-jisoo img {
  content: url("../images/jisoo1.jpg")
}

#christian-pulisic img {
  content: url("../images/pulisic1.jpg")
}

#nguyen-vu img {
  content: url("../images/dlnv1.jpg")
}

@media screen and (min-width: 576px) {
  #song-minho img {
    content: url("../images/mino2.jpg")
  }

  #kim-jisoo img {
    content: url("../images/jisoo2.jpg")
  }

  #christian-pulisic img {
    content: url("../images/pulisic2.jpg")
  }

  #nguyen-vu img {
    content: url("../images/dlnv2.jpg")
  }
}
